body {
  font-family: 'fauna one', sans-serif;
  background-color: #2C2A2A;
  color: #F5E2C6;
}
p.error {
  background-color: rgba(255, 125, 125, 0.2);
  border: 2px solid #ff6666;
  padding: 0.2em 0.5em;
  color: #ffffff;
}
h1, h2, h3, h4, h5 {
  font-family: 'medula one', serif;
  color: #FFCB7B;
  margin: 0;
}
h2 {
  color: #61564E;
}
h1 {
  font-size: 4em;
}
h1#room-code {
  color: #ffffff;
}
h3 {
  font-size: 2em;
}
.button {
  outline: none;
  border: none;
  background-color: #713E75;
  color: #ffffff;
  font-family: 'fauna one', sans-serif;
  font-size: 1.25em;
  padding: 0.4em 1.5em;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: #8A548D;
}
.player-tile {
  width: 50%;
  display: inline-block;
  padding: 0.4em 0.4em 0.4em 0;
  box-sizing: border-box;
}
.avatar {
  height: 50px;
  width: 50px;
  display: inline-block;
}
#players-menu h4 {
  display: inline-block;
  font-size: 2em;
  vertical-align: top;
  margin-top: 0.2em;
  margin-left: 0.2em;
}
#players-menu .player-tile.empty h4 {
  color: #ffffff;
}
#players-menu .player-tile.empty .avatar {
  background-color: #443B3B;
  border: none;
}
#players-menu .player-tile[avatar="none"] .avatar {
  background-image: none;
}
#players-menu .player-tile[color="purple"] .avatar {
  background-color: #CB91FF;
}
#players-menu .player-tile[color="purple"] h4 {
  color: #CB91FF;
}
#players-menu .player-tile[color="blue"] .avatar {
  background-color: #87D8E5;
}
#players-menu .player-tile[color="blue"] h4 {
  color: #87D8E5;
}
#players-menu .player-tile[color="green"] .avatar {
  background-color: #88E587;
}
#players-menu .player-tile[color="green"] h4 {
  color: #88E587;
}
#players-menu .player-tile[color="yellow"] .avatar {
  background-color: #FFD088;
}
#players-menu .player-tile[color="yellow"] h4 {
  color: #FFD088;
}
#players-menu .player-tile[color="red"] .avatar {
  background-color: #FF7A7A;
}
#players-menu .player-tile[color="red"] h4 {
  color: #FF7A7A;
}
#players-menu .player-tile[color="pink"] .avatar {
  background-color: #FFA7D3;
}
#players-menu .player-tile[color="pink"] h4 {
  color: #FFA7D3;
}
#players-menu .player-tile[color="white"] .avatar {
  background-color: #FFF3E1;
}
#players-menu .player-tile[color="white"] h4 {
  color: #FFF3E1;
}
#players-menu .player-tile[color="teal"] .avatar {
  background-color: #87E9CC;
}
#players-menu .player-tile[color="teal"] h4 {
  color: #87E9CC;
}
#avatar-selector .avatar {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: #443B3B;
}
