body {
  font-family: 'fauna one', sans-serif;
  background-color: #2C2A2A;
  color: #F5E2C6;
  margin: 0;
}
header {
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
p.error {
  background-color: rgba(255, 125, 125, 0.2);
  border: 2px solid #ff6666;
  padding: 0.2em 0.5em;
  color: #ffffff;
}
h1, h2, h3, h4, h5 {
  font-family: 'medula one', serif;
  color: #FFCB7B;
  margin: 0;
}
h2 {
  color: #61564E;
  font-size: 2em;
}
h1 {
  font-size: 4em;
}
h1#room-code {
  color: #ffffff;
}
h3 {
  font-size: 2em;
}
.button {
  outline: none;
  border: none;
  background-color: #713E75;
  color: #ffffff;
  font-family: 'fauna one', sans-serif;
  font-size: 1.25em;
  padding: 0.4em 1.5em;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  margin: 0.3em 0px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  text-align: center;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}
.button.short {
  width: auto;
}
body div .button.back {
  background-color: #645D5D;
}
body div .button.back:hover {
  background-color: #807575;
}
.button:hover {
  background-color: #8A548D;
}
.player-tile {
  width: 50%;
  display: inline-block;
  padding: 0.4em 0.4em 0.4em 0;
  box-sizing: border-box;
}
.avatar {
  height: 50px;
  width: 50px;
  display: inline-block;
}
#players-menu h4 {
  display: inline-block;
  font-size: 2em;
  vertical-align: top;
  margin-top: 0.2em;
  margin-left: 0.2em;
}
#players-menu .player-tile.empty h4 {
  color: #ffffff;
}
#players-menu .player-tile.empty .avatar {
  background-color: #443B3B;
  border: none;
}
#players-menu .player-tile[avatar="none"] .avatar {
  background-image: none;
}
#players-menu .player-tile[color="purple"] .avatar {
  background-color: #CB91FF;
}
#players-menu .player-tile[color="purple"] h4 {
  color: #CB91FF;
}
#players-menu .player-tile[color="blue"] .avatar {
  background-color: #87D8E5;
}
#players-menu .player-tile[color="blue"] h4 {
  color: #87D8E5;
}
#players-menu .player-tile[color="green"] .avatar {
  background-color: #88E587;
}
#players-menu .player-tile[color="green"] h4 {
  color: #88E587;
}
#players-menu .player-tile[color="yellow"] .avatar {
  background-color: #FFD088;
}
#players-menu .player-tile[color="yellow"] h4 {
  color: #FFD088;
}
#players-menu .player-tile[color="red"] .avatar {
  background-color: #FF7A7A;
}
#players-menu .player-tile[color="red"] h4 {
  color: #FF7A7A;
}
#players-menu .player-tile[color="pink"] .avatar {
  background-color: #FFA7D3;
}
#players-menu .player-tile[color="pink"] h4 {
  color: #FFA7D3;
}
#players-menu .player-tile[color="white"] .avatar {
  background-color: #FFF3E1;
}
#players-menu .player-tile[color="white"] h4 {
  color: #FFF3E1;
}
#players-menu .player-tile[color="teal"] .avatar {
  background-color: #87E9CC;
}
#players-menu .player-tile[color="teal"] h4 {
  color: #87E9CC;
}
#avatar-selector .avatar {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: #443B3B;
  margin-right: 0.4em;
  margin-bottom: 0.4em;
}
body div #avatar-selector .avatar.selected {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
}
body div #avatar-selector .avatar.unavailable {
  background-color: #443B3B;
  opacity: 0.5em;
}
body[color="purple"] #avatar-selector .avatar, body[color="purple"] #avatar-selector .avatar.unavailable.selected {
  background-color: #CB91FF;
}
body[color="purple"] .button, header[color="purple"] {
  background-color: #844CAF;
  color: #ffffff;
}
body[color="purple"] .button:hover {
  background-color: #6A3097;
}
body[color="blue"] #avatar-selector .avatar, body[color="blue"] #avatar-selector .avatar.unavailable.selected {
  background-color: #87D8E5;
}
body[color="blue"] .button, header[color="blue"] {
  background-color: #3078A8;
  color: #ffffff;
}
body[color="blue"] .button:hover {
  background-color: #1A5F8D;
}
body[color="green"] #avatar-selector .avatar, body[color="green"] #avatar-selector .avatar.unavailable.selected {
  background-color: #88E587;
}
body[color="green"] .button, header[color="green"] {
  background-color: #499848;
  color: #ffffff;
}
body[color="green"] .button:hover {
  background-color: #2E772D;
}
body[color="yellow"] #avatar-selector .avatar, body[color="yellow"] #avatar-selector .avatar.unavailable.selected {
  background-color: #FFD088;
}
body[color="yellow"] .button, header[color="yellow"] {
  background-color: #B88536;
  color: #ffffff;
}
body[color="yellow"] .button:hover {
  background-color: #9D6919;
}
body[color="red"] #avatar-selector .avatar, body[color="red"] #avatar-selector .avatar.unavailable.selected {
  background-color: #FF7A7A;
}
body[color="red"] .button, header[color="red"] {
  background-color: #CE4A4A;
  color: #ffffff;
}
body[color="red"] .button:hover {
  background-color: #B53535;
}
body[color="pink"] #avatar-selector .avatar, body[color="pink"] #avatar-selector .avatar.unavailable.selected {
  background-color: #FFA7D3;
}
body[color="pink"] .button, header[color="pink"] {
  background-color: #E2579D;
  color: #ffffff;
}
body[color="pink"] .button:hover {
  background-color: #C93881;
}
body[color="white"] #avatar-selector .avatar, body[color="white"] #avatar-selector .avatar.unavailable.selected {
  background-color: #FFF3E1;
}
body[color="white"] .button, header[color="white"] {
  background-color: #B9A88E;
  color: #ffffff;
}
body[color="white"] .button:hover {
  background-color: #9D8156;
}
body[color="teal"] #avatar-selector .avatar, body[color="teal"] #avatar-selector .avatar.unavailable.selected {
  background-color: #87E9CC;
}
body[color="teal"] .button, header[color="teal"] {
  background-color: #238B8B;
  color: #ffffff;
}
body[color="teal"] .button:hover {
  background-color: #067171;
}
#vip-only {
  display: none;
}
body[player="player1"] #vip-only {
  display: block;
}
#phase-0, #phase-1, #phase-2 {
  display: none;
}
body[phase="0"] #phase-0 {
  display: block;
}
body[phase="1"] #phase-1 {
  display: block;
}
body[phase="2"] #phase-2 {
  display: block;
}
/* Test */
#timer {
  font-size: 5em;
  font-family: 'medula one', serif;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  margin: 0;
  text-shadow: 0px 0px 4px #000;
  display: none;
}
input[type="number"] {
  background-color: #433E3E;
  border: none;
  outline: none;
  padding: 0.2em;
  color: #fff;
  font-family: 'medula one',serif;
  font-size: 2em;
  border-radius: 10px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
input[type="text"] {
  background-color: #433E3E;
  border: none;
  outline: none;
  padding: 0.2em;
  color: #fff;
  font-family: 'medula one',serif;
  font-size: 2em;
  border-radius: 10px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
input[type="text"]:active {
  border: none;
}
input[type="number"]:active {
  border: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.header {
  display: inline-block;
  width: 100%;
}
#card {
  background-color: #504646;
  border-radius: 13px;
  padding: 8px;
  max-width: 300px;
  margin: auto;
}
#card .border {
  border: 2px solid #FFCB7B;
  border-radius: 4px;
  padding: 8px;
}
#card-sell {
  color: #FFCB7B;
}
#card-score {
  color: #ffffff;
}
#card-title {
  color: #ffffff;
}
#card-desc {
  color: #ffffff;
}
#card-image {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}
#card-image img {
  height: 100%;
  width: 100%;
}
.avatar[avatar="avatar1"], [avatar="avatar1"] .avatar {
  background-image: url('images/avatars/avatar1.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.avatar[avatar="avatar2"], [avatar="avatar2"] .avatar {
  background-image: url('images/avatars/avatar2.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.avatar[avatar="avatar3"], [avatar="avatar3"] .avatar {
  background-image: url('images/avatars/avatar3.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.avatar[avatar="avatar4"], [avatar="avatar4"] .avatar {
  background-image: url('images/avatars/avatar4.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.avatar[avatar="avatar5"], [avatar="avatar5"] .avatar {
  background-image: url('images/avatars/avatar5.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.avatar[avatar="avatar6"], [avatar="avatar6"] .avatar {
  background-image: url('images/avatars/avatar6.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.avatar[avatar="avatar7"], [avatar="avatar7"] .avatar {
  background-image: url('images/avatars/avatar7.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.avatar[avatar="avatar8"], [avatar="avatar8"] .avatar {
  background-image: url('images/avatars/avatar8.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#card-container {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(29,26,26,0.8);
  padding-top: 1em;
  opacity: 0;
  display: none;
  z-index: 5;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}
.item-small {
  height: 90px;
  width: 60px;
  background-color: #645D5D;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  border: 1px solid #FFCB7B;
  box-sizing: border-box;
  background-image: url('images/cards/0.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}
